<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
      body {
        width: 200px;
      }
      #login-screen input {
          padding: 5px;
          margin-bottom: 2px;
          width: 90%;
      }

      #login-screen input[type=button] {
          width: 97%;
      }
    </style>
</head>
<body>
    <div id="login-screen">
        <p style="direction: rtl; text-align: center;"></p>
        <input id="login-email" type="text" name="email" placeholder="Email ..." required="required" />
        <input id="login-password" type="password" name="password" placeholder="Password ..." required="required" />
        <br />
        <input type="button" id="login" value="Let's Dance">
    </div>
    <script type="module" src="../tasks/login.js"></script>
</body>
</html>
