<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <style>
html {
    direction: rtl;
}
body {
    width: 300px;
}

div#app input {
    margin-top: 5px;
    width: 100%;
}
        </style>
    </head>
    <body>
        <button id="homepage">خونه پدری</button>
        <br />
        <div id="app">
            <input v-model="someone" placeholder="می خوای در شکل چه کسی ظاهر بشی؟" v-on:keyup.enter="SearchForSomeone">

            <user
                v-for="user in users"
                v-bind:user="user"
                v-bind:key="user.id"
            ></user>
        </div>

    <script src="../libs/vue.min.js"></script>
    <script type="module" src="../tasks/whoami.js"></script>
    </body>
</html>
